<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Post</title>
    <div th:insert="~{partials :: head}"></div>
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>

<h1>Post title: <span th:text="${post.title}"></span></h1>
<p>Post body: <span th:text="${post.body}"></span></p>
<p>Post ID: <span th:text="${post.id}"></span></p>
<p>Post ID: <span th:text="${post.user.email}"></span></p>


<footer th:replace="~{partials :: footer}"></footer>
</body>
</html>